.*
*~
*.o
*.a
*.d
*.map
*.elf
*.arm7
*.arm9
*.txt
*.nds
ds/demoapps/dsmidikeyboard/arm7/build/
ds/demoapps/dsmidikeyboard/arm9/build/
ds/demoapps/dsmidikeyboard/graphics/
ds/demoapps/dsmidikeyboard/tools/
ds/demoapps/kaosds/arm7/build/
ds/demoapps/kaosds/arm9/build/
ds/demoapps/kaosds/icon2.bmp
ds/demoapps/kaosds/template.pnproj
ds/demoapps/kaosds/template.prj
ds/demoapps/kaosds_/
ds/demoapps/pulseds/arm7/build/
ds/demoapps/pulseds/arm9/build/
ds/libdsmi/build/
linux/DSMIDIWiFi
linux/moc_midi2udpthread.cpp
linux/moc_udp2midithread.cpp
linux/moc_wifimidiwindow.cpp
linux/qrc_images.cpp

